In [1]:
import pandas as pd

In [2]:
#Reading csv files
data1 = pd.read_csv('merged_data.csv')
data2 = pd.read_csv('SocialBlade_type.csv')

In [3]:
#Using merge function by setting how='left'
df_f = pd.merge(data1, data2, on='Channel', how='left')

In [4]:
#Displaying result
df_f.head(10)

,Pos,Channel,Views,Subscriber,Vidoes,Published,SOCIAL_BLADE_RANK,VIDEO_VIEWS_RANK,COUNTRY_RANK,MUSIC_RANK,ESTIMATED_MONTHLY_EARNINGS,ESTIMATED_YEARLY_EARNINGS,SUBSCRIBERS_FOR_THE_LAST_30_DAYS,VIDEO_VIEWS_FOR_THE_LAST_30_DAYS,CHANNEL_TYPE
0,1,T-Series,"157,452,055,214","185,000,000","15,528",2006-03-13,6th,1st,1st,1st,$585K - $9.4M,$7M - $112.3M,2M 33.3%,2.34B 33.9%,Music
1,2,Cocomelon - Nursery Rhymes,"103,803,532,922","113,000,000",654,2006-09-01,8th,2nd,1st,1st,$383.1K - $6.1M,$4.6M - $73.5M,1M 0.0%,1.532B 10.1%,Education
2,3,SET India,"90,768,285,232","107,000,000","59,421",2006-09-20,7th,3rd,2nd,1st,$593K - $9.5M,$7.1M - $113.9M,2M 33.3%,2.372B 5.1%,Entertainment
3,4,WWE,"59,710,652,499","78,500,000","55,466",2007-05-11,27th,5th,4th,1st,$178.3K - $2.9M,$2.1M - $34.2M,700K 46.2%,713.04M 28.6%,Sports
4,5,Like Nastya,"58,866,363,302","74,700,000",589,2016-12-06,28th,7th,5th,2nd,$149.5K - $2.4M,$1.8M - $28.7M,500K 16.7%,597.852M 18.5%,Entertainment
5,6,✿ Kids Diana Show,"58,484,744,322","80,100,000",891,2015-05-12,22nd,6th,3rd,2nd,$286.2K - $4.6M,$3.4M - $54.9M,1M 16.7%,1.145B 1.6%,Film
6,7,Sony SAB,"56,242,961,978","52,600,000","37,259",2007-08-04,9th,4th,6th,6th,$511.9K - $8.2M,$6.1M - $98.3M,1.5M 0.0%,2.048B 7.3%,Entertainment
7,8,Movieclips,"52,243,427,733","52,900,000","37,366",2006-04-28,50th,8th,10th,4th,$124.8K - $2M,$1.5M - $24M,400K 0.0%,499.046M 0.7%,Film
8,9,Vlad and Niki,"50,178,997,905","69,000,000",366,2018-04-23,14th,9th,7th,3rd,$225.1K - $3.6M,$2.7M - $43.2M,900K 18.2%,900.21M 5.9%,Entertainment
9,10,Ryan's World,"47,553,197,237","29,900,000","2,002",2015-03-17,142nd,10th,33rd,28th,$91.6K - $1.5M,$1.1M - $17.6M,200K 0.0%,366.424M 174.2%,Entertainment

In [5]:
df_f.to_csv("final_result.csv", index= False)